/* Imported font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: #7f7b82ff;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: capitalize;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: 700;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li {
    list-style: none;
}
.nav-links img {
    height: 18px;
    color: white;
    margin-top: 3.5px;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 3px;
}

.burger {
    display: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    line-height: 1.4;
    /* background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(135,206,250,1) 100%); */
    background-image: url(../images/raindrop-3629132_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 15rem 45rem 0rem 45rem;
    padding: 10px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: rgb(127,123,130);
    background: linear-gradient(180deg, rgba(127,123,130,1) 0%, rgba(60,60,60,1) 100%);
}

.weather {
    font-weight: 600;
    color: white;
    text-align: center;
}

.city {
    font-size: 20px;
    padding: 20px;
}
.temp {
    font-size: 64px;
    font-weight: 700;
    padding: 20px;
}
.condition {
    font-size: 20px;
    padding: 20px;
}
.rainy {
    height: 8rem;
    margin-left: 2rem;
    padding: 20px;
}

.current {
    display: flex;
    justify-content: space-evenly;
}

.current img {
    height: 2em;
}

.current p {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    color: white;
}

@media screen and (max-width:1920px) {
    .nav-links {
        width: 50%;
    }

    .container {
        margin: 8rem 30rem 0rem 30rem;
        padding: 10px;
        background: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        background: rgb(127,123,130);
        background: linear-gradient(180deg, rgba(127,123,130,1) 0%, rgba(60,60,60,1) 100%);
    }
}


