/* 
Style guide: https://www.w3schools.com/css/default.asp
Imported font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  color: #e6e49fff;
  font-family: 'Quicksand', sans-serif;
  background-image: linear-gradient(to bottom, #273043ff, #7f7b82ff);
  text-align: center;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.logo {
  color: white;
  text-transform: capitalize;
  letter-spacing: 3px;
  font: 18px;
  font-weight: 700;
  text-align: left;
  padding: 1rem 0rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80%;
  flex-direction: column;
}

.locationInfo {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  font-weight: 400;
  width: auto;
  height: auto;
  padding: 2em;
}



#cityInput {
  display: inline;
  color: #87cefaff;
}

.locationOption {
  padding: 10px 24px;
  background-image: linear-gradient(to bottom, #273043ff, #e6e49fff);
  color: whitesmoke;
  border-radius: 8px;
  border-style: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  font: 18pt;
  text-decoration: none;
}

#signIn {
  background-image: none;
  background-color: whitesmoke;
  box-shadow: 0px 0px 7px #87cefaff;
  color: #273043ff;
}
