/* 
Style guide: https://www.w3schools.com/css/default.asp
Imported font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  color: #e6e49fff;
  font-family: 'Quicksand', sans-serif;
  background-image: linear-gradient(to bottom,  #87cefaff, #87cefaff, #e6e49fff);
  text-align: center;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.logo {
  color: white;
  text-transform: capitalize;
  letter-spacing: 3px;
  font: 18px;
  font-weight: 700;
  text-align: left;
  margin-top: .5rem;
  margin-left: 100px;

}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80%;
  flex-direction: column;
}

.locationInfo {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  font-weight: 400;
  width: auto;
  height: auto;
  padding: 5rem;
  margin: .5rem;
  letter-spacing: 1px;
}

.locationInfo h1 {
  font-weight: 600;
  margin-bottom: 1rem;
}


#zipCodeForm {
  display: inline;
  color: white;
}

.submitLocation {
  padding: 10px 24px;
  margin: .5rem;
  background-color: #7f7b82ff;
  color: whitesmoke;
  border-radius: 8px;
  border-style: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  font: 18pt;
  text-decoration: none;

}

.submitLocation:hover{
  background-color: #273043ff;
}

#zipCodeForm > #zipCode {
  text-align: center;
  padding: 8px 10px;
  margin: 1rem;
  border-radius: 6px;
  box-sizing: border-box;
  border-radius: 6px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  width: 310;
}

