/* 
Style guide: https://www.w3schools.com/css/default.asp
Imported font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  color: #e6e49fff;
  font-family: 'Quicksand', sans-serif;
  background-image: linear-gradient(to bottom, #273043ff, #7f7b82ff);
  text-align: center;
}

a {
  color: #00B7FF;
}

.logo {
  color: white;
  text-transform: capitalize;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

#locationInfo {
  margin: auto;
  font-weight: 400;
  position: absolute;
  bottom: 40%;
  width: 100%;
  text-align: center;

}

#zipInput {
  display: inline;
  color: #87cefaff;
}

.locationOption {
  padding: 10px 24px;
  background-color: #e6e49fff;
  opacity: .85;
  color: #273043ff;
  border-radius: 8px;
  font: 18pt;
}

#signIn {
  background-color: whitesmoke;
  opacity: .95;
  box-shadow: 0px 0px 7px #87cefaff;
}
