/* Imported font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #e6e49fff;
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(to bottom, #7f7b82ff, #273043ff);
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: #273043ff;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: capitalize;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: 700;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li {
    list-style: none;
}
.nav-links img {
    height: 18px;
    color: #e2e2e2;
    margin-top: 3.5px;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

#signIn {
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90%;
    flex-direction: column;
}

#signIn img {
    width: 350px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px grey;
}

@media screen and (max-width:1980px) {
    .nav-links {
        width: 50%;
    }
}

